{% extends "layout.html" %}

{% block body %}



 <div class="row">
    <div class="col-md-8">
                <div class="col-lg-8">
                    <h3>Makaleler</h3>
                </div>
    </div>

                        <hr>

                <div class="col-lg-8">
                        <form>
                        {% csrf_token %}
                        <input type="text" name= "keyword" class= "input-sm" maxlength="64" placeholder="Ara...">
                        <button type="submit" class="btn btn-danger">Ara</button>
                    </form>
                </div>
                {% if articles %}
                {% for article in articles %}

                <div class="col-lg-8">
                            <!-- title-->
                    <a href="{% url 'article:detail' article.id %}"><h3 class="mt-4">{{article.title}}</h3></a>

                            <!-- Authort-->
                            <p class="lead">
                               {{article.author.username}} tarafından yayınlanmıştır
                            </p>
                <hr>


                     <!-- Date/Time-->
                        <p> {{article.created_date}} </p>
                    <hr>


                  {% if article.article_image %}
                    <a href="/articles/article/{{article.id}}"><img src="{{article.article_image.url}}"  class="img-fluid rounded"></a>
                    {% endif %}

                    <hr>
                    <!-- Post Content-->
                    <p class="lead">
                        {{article.content|safe|truncatewords:6}}
                    <a href="{% url 'article:detail' article.id %}" class="btn btn-danger">Devamını Oku</a>
                    </p>
                    <hr>

                 </div>


            {% endfor %}

            {% else %}
            <div class="col-lg-8">
            <div class="row">
            <div class="col-lg-8">
            <div class="alert alert-danger">
            Makale bulunamadı
            </div>
            </div>
            </div>
            </div>


        {% endif %}
</div>
        {% endblock body %}
